@{
    ViewBag.Title = "Home Page";
}
<style>
    h1 {
        font-size: 42px;
        font-family: Broadway;
    }
</style>
<h1>Welcome to GC Coffee Shop! <a href="/Home/RegistrationPage">Register</a></h1>